<template>
  <div class="kurama-select" :tabindex="tabindex" @blur="masOptions = false">
    <div class="selected" :class="{ masOptions: masOptions }" @click="masOptions = !masOptions">
        <input type="text" @keydown="clickDownUpSelect($event)" @blur="clickOutsideSelect()" v-model.trim="inputBuscar" class="kurama-select-input" placeholder="Seleccionar opción" >
    </div>
    <div class="items" :class="{ selectHide: !masOptions }" :style="{height: hSelect}">
      <div v-for="(option,i) of buscarInOptions" :key="i" @click="seleccionado = option;masOptions = false;$emit('KuramaSelect', option);">
        {{ option.text }}
      </div>
      <div class="nullOption" v-if="buscarInOptions.length == 0">
        Ninguna coincidencia
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    setSeleccionado: [],
    options: {
      type: [],
      required: true,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      inputBuscar:'',
      seleccionado: [],
      masOptions: false,
      hSelect: '120px',
    };
  },
computed:{
        buscarInOptions(){ 
              if (this.inputBuscar !="" && this.inputBuscar !=undefined) {
                  return this.options.filter(x=>  x.text.toLowerCase().includes(this.inputBuscar.toLowerCase()));
              }
              return this.options;
          }
    },
watch :{
    seleccionado:function(){
        this.inputBuscar = this.seleccionado.text;
    },
    inputBuscar: function(){
      if(this.seleccionado.length != 0)
      {
        if (this.inputBuscar.length === 0) {
          this.masOptions = true;
          this.hSelect = '120px'
          this.$emit('KuramaSelect',[]);
          this.seleccionado=[];
          this.inputBuscar = ''
        }else{
          this.hSelect = 'auto'
        }
      }
    }
}, 
methods:{
  setearValorInicial:function(){
      if (this.setSeleccionado != undefined) {
        this.inputBuscar = this.setSeleccionado.text;  
        this.seleccionado = this.setSeleccionado;
      }    
  },
  clickOutsideSelect: function(){
    setTimeout(() => this.masOptions = false, 300);
  },
  clickDownUpSelect: function(event){
    let listGroup = document.querySelector('div.items');
    let containerScroll = document.querySelector('.items');

     // Obtener todos los elementos
    let items = listGroup.querySelectorAll('div');
     // Saber si alguno está activo
    let actual = Array.from(items).findIndex(item => item.classList.contains('active'));
    // Analizar tecla pulsada
    if(event.keyCode == 13) {
        // Tecla Enter, evitar que se procese el formulario
        event.preventDefault();
        // ¿Hay un elemento activo?
        if(items[actual]) {
            // Hacer clic
            items[actual].click();
        }
    } if(event.keyCode == 38 || event.keyCode == 40) {
        // Flecha arriba (restar) o abajo (sumar)
        if(items[actual]) {
            // Solo si hay un elemento activo, eliminar clase
            items[actual].classList.remove('active');
        }
        // Calcular posición del siguiente
        actual += (event.keyCode == 38) ? -1 : 1;
        // Asegurar que está dentro de los límites
        if(actual < 0) {

            actual = 0;
        } else if(actual >= items.length) {
            actual = items.length - 1;
        }
        // Asignar clase activa
        items[actual].classList.add('active');
        if (event.keyCode == 40) return containerScroll.scrollBy(0, 35);
        if (event.keyCode == 38) return containerScroll.scrollBy(0, -35);
    }
  },
},
created(){
  this.setearValorInicial();
},
mounted() {
    //this.setearValorInicial();
  }
};
</script>

<style scoped>
.kurama-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 38px;
  
}

.kurama-select .selected {
  opacity: 1;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  background: #F4F7F8 ;
}
.kurama-select .selected:hover{
  background: #FFFFFF ;
  /* box-shadow: 0px 5px 25px -4px rgba(0, 0, 0, (.05));
  transform: translate(0, -4px); */
}
.kurama-select .selected.masOptions {
  border: 1px solid #ced4da;
  border-radius: 6px 6px 0px 0px;

}

.kurama-select .selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #324355 transparent transparent transparent;
}
.kurama-select .items {
  
  border-radius: 0px 0px 12px 12px;
  /* overflow: hidden; */
  border-right: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  position: relative;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.kurama-select .items div {
  
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
   -webkit-transition: 1s linear;
  transition: 0.2s linear;
}
.nullOption{
    background: #F4F7F8;
    text-align: center;
}

.kurama-select .items div:hover {
  color: #195BFF ;
  padding-left: 1.5rem;
}
.kurama-select .items div.active {
    background: #F4F7F8;
}
.selectHide {
  display: none;
}
.kurama-select-input {
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: 15px;
}
</style>