<template>
  <div class="kurama-select" :tabindex="tabindex" @blur="masOptions = false">
    <div class="selected" :class="{ masOptions: masOptions }" @click="masOptions = !masOptions">
        <input type="checkbox" v-model="inputChek" @click="seleccionarTodos();$emit('KuramaSelectMultiple', options);" @blur="clickOutsideSelect()"> 
        <input type="text" @keydown="clickDownUpSelect($event)" v-model.trim="inputBuscar" class="kurama-select-input" placeholder="Seleccionar opción" >
    </div>
    <div class="items-multiple" :class="{ selectHide: !masOptions }" :style="{height: hSelect}" @blur="clickOutsideSelect()">
      <div v-for="(option,i) of buscarInOptions" :key="i" @click="select(option);$emit('KuramaSelectMultiple', seleccionados);">
          <input :checked="option.check" type="checkbox" v-model="option.check"> 
          {{ option.text }}
      </div>
      <div class="nullOption_multi" v-if="buscarInOptions.length == 0">
        Ninguna coincidencia
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    setSeleccionadoMultiple: [],
    options: {
      type: [],
      required: true,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  data() {
    return {
      inputBuscar:'',
      inputChek:false,
      seleccionados: [],
      masOptions: false,
      hSelect: '120px',
    };
  },
methods:{
  setearValorInicial:function(){
      if (this.setSeleccionadoMultiple != undefined) {
        this.setSeleccionadoMultiple.forEach(x => {x.check = true;});
        this.seleccionados = this.setSeleccionadoMultiple;

        this.options.forEach(opt1 => {
          this.setSeleccionadoMultiple.forEach(opt2 => {
          if (opt1.id === opt2.id) {
            this.options.filter(x=>  x.id== opt1.id)[0].check =opt2.check;
            console.log(this.options.filter(x=>  x.id== opt1.id)[0]);
          }
        });  
       }); 
      }    
  },
  select:function(item)
  {
    let existe = this.options.filter(x=>  x.id== item.id);
    if  (existe.length > 0)
    {
      this.options.filter(x=>  x.id== item.id)[0].check =!item.check;
    }
    else 
    {
      if (this.options.filter(x=>  x.check == true).length != this.options.length) {
        this.inputChek = false
      }
      else if (this.options.filter(x=>  x.check == false).length != this.options.length) {
        this.inputChek = true
      }
    }
    this.seleccionados = this.options.filter(x=>  x.check == true);

  },
  seleccionarTodos:function()
  {
    //if(this.seleccionado.length != 0)
    if(this.seleccionados.length != 0)
    {
      if(this.inputBuscar !="") {
          if(this.options.length > 0)
          {
            this.options.filter(x=>  x.text.toLowerCase().includes(this.inputBuscar.toLowerCase())).forEach(x => {
              x.check = !this.inputChek;
            });
          }
      }
      else 
      {
        if (!this.inputChek) {
          this.options.forEach(x => {
                x.check = !this.inputChek;
              });
          this.seleccionados = this.options;
        }
        else {
          if(this.options.length > 0)
          {
            this.options.forEach(x => {
              x.check = !this.inputChek;
            });
          }
        }
      }
    }
    else
    {
      this.options.forEach(x => {
            x.check = !this.inputChek;
          });
      this.seleccionados = this.options;
    }
  },
  clickOutsideSelect: function(){
    setTimeout(() => this.masOptions = false, 300);
  },
  clickDownUpSelect: function(event){
    let listGroup = document.querySelector('div.items-multiple');
    let containerScroll = document.querySelector('.items-multiple');

     // Obtener todos los elementos
    let items = listGroup.querySelectorAll('div');
     // Saber si alguno está activo
    let actual = Array.from(items).findIndex(item => item.classList.contains('active'));
    // Analizar tecla pulsada
    if(event.keyCode == 13) {
        // Tecla Enter, evitar que se procese el formulario
        event.preventDefault();
        // ¿Hay un elemento activo?
        if(items[actual]) {
            // Hacer clic
            items[actual].click();
        }
    } if(event.keyCode == 38 || event.keyCode == 40) {
        // Flecha arriba (restar) o abajo (sumar)
        if(items[actual]) {
            // Solo si hay un elemento activo, eliminar clase
            items[actual].classList.remove('active');
        }
        // Calcular posición del siguiente
        actual += (event.keyCode == 38) ? -1 : 1;
        // Asegurar que está dentro de los límites
        if(actual < 0) {

            actual = 0;
        } else if(actual >= items.length) {
            actual = items.length - 1;
        }
        // Asignar clase activa
        items[actual].classList.add('active');
        if (event.keyCode == 40) return containerScroll.scrollBy(0, 35);
        if (event.keyCode == 38) return containerScroll.scrollBy(0, -35);
    }
  },
},
computed:{
        buscarInOptions(){ 
            if (this.inputBuscar !="") {
                return this.options.filter(x=>  x.text.toLowerCase().includes(this.inputBuscar.toLowerCase()));
            }
            return this.options;
        }
    },
    watch:{
      inputBuscar: function(){
        if (this.inputBuscar.length === 0) {
          this.masOptions = true;
          this.hSelect = '120px'
        }else{
          this.hSelect = 'auto'
        }
      },
      inputChek: function(){
        if (!this.inputChek) {
           this.$emit('KuramaSelectMultiple', []);
           this.seleccionados = [];
        }
      }
    },
created(){
  this.setearValorInicial();
},    
mounted() {
    //this.$emit("KuramaSelectMultiple", this.seleccionado);
  }
};
</script>

<style scoped>
.kurama-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 38px;
  
}

.kurama-select .selected {
  opacity: 1;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
  background: #F4F7F8 ;
}
.kurama-select .selected:hover{
  background: #FFFFFF ;
}

.kurama-select .selected.masOptions {
  border: 1px solid #ced4da;
  border-radius: 6px 6px 0px 0px;

}

.kurama-select .selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #324355 transparent transparent transparent;

}

.kurama-select .items-multiple {
  
  border-radius: 0px 0px 12px 12px;
  /* overflow: hidden; */
  border-right: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  position: relative;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.nullOption_multi{
    background: #F4F7F8;
    text-align: center;
}

.kurama-select .items-multiple div {
  
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
   -webkit-transition: 1s linear;
  transition: 0.2s linear;
}

.kurama-select .items-multiple div:hover {
    color: #195BFF ;
    padding-left: 1.5rem;
}
.kurama-select .items-multiple div.active {
    background: #F4F7F8;
}
.selectHide {
  display: none;
}
.kurama-select-input {
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  font-size: 15px;
}
</style>
