<template>
  <div id="app">
    <h1>Kurama Vue.js Select Component</h1>
    <h6>Registros: {{this.listado.length}}</h6>
    <KuramaSelect
      id="kuramaSelect1"
      :options="listado"
      :setSeleccionado="valorSeteado"
      @KuramaSelect="valorSelect = $event"
    />
    elemento seleccionado: <code>{{valorSelect}}</code>
    <br/>
    ValorSetado: <code>{{ valorSeteado }}</code>
    
    <h1>Kurama Multiple Vue.js Select Component</h1>
    <h6>Registros: {{this.listado2.length}}</h6>
     <KuramaSelectMultiple
      :options="listado2"
      :setSeleccionadoMultiple="valorSeteadoMultiple"
      @KuramaSelectMultiple="valorSelectMultiple = $event"
    />
    elemento seleccionado: <code>{{valorSelectMultiple}}</code>
    <br/>
    valorSeteadoMultiple: <code>{{ valorSeteadoMultiple }}</code>
    <router-view/>
  </div>
</template>

<script>
import KuramaSelect from "./components/KuramaSelect.vue";
import KuramaSelectMultiple from "./components/KuramaSelectMultiple.vue";
export default {
  components: {
    KuramaSelect,
    KuramaSelectMultiple
  },
  data() {
    return {
      listado:[
        {id:0,text:'go'},
        {id:1,text:'java'},
        {id:2,text:'javascript'},
        {id:3,text:'php'},
        {id:4,text:'html'},
        {id:5,text:'css'},
        {id:6,text:'rubik'},
        {id:7,text:'pearl'},
        {id:8,text:'arduino'},
        {id:9,text:'pascal'},
        {id:10,text:'c++'},
        {id:11,text:'c'},
        {id:12,text:'python'},
      ],
      listado2:[
        {id:0,text:'go',check:false},
        {id:1,text:'java',check:false},
        {id:2,text:'javascript',check:false},
        {id:3,text:'php',check:false},
        {id:4,text:'html',check:false},
        {id:5,text:'css',check:false},
        {id:6,text:'rubik',check:false},
        {id:7,text:'pearl',check:false},
        {id:8,text:'arduino',check:false},
        {id:9,text:'pascal',check:false},
        {id:10,text:'c++',check:false},
        {id:11,text:'c',check:false},
        {id:12,text:'python',check:false},
      ],
      valorSelect: [],
      valorSelectMultiple: [],
      valorSeteado:{id:9,text:'pascal'},
      valorSeteadoMultiple:[
      {id:10,text:'c++',check:false},
        {id:11,text:'c',check:false},
        {id:12,text:'python',check:false}
      ]

  }
},
methods:{
    obtenerValorSelect:function(datos)
    {
      console.log("Select: ",datos)
    },
    obtenerValorSelectMultiple:function(datos)
    {
      console.log("SelectMultiple: ",datos)
    }
},
mounted()
{
  /*fetch('https://apimocha.com/jazr/post')
  .then(response => response.json())
  .then(data => {
    //console.log(data);
    data.forEach(resp => {
      let item ={};
      item.id=resp.id;
      item.text=resp.first_name;
      this.listado.push(item);
    });
  });

  fetch('https://apimocha.com/jazr/post')
  .then(response => response.json())
  .then(data => {
    //console.log(data);
    data.forEach(resp => {
      let item ={};
      item.id=resp.id;
      item.text=resp.first_name;
      item.check=false;
      this.listado2.push(item);
    });
  });*/
  
},
};
</script>

<style lang="stylus">
#app
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
</style>
